 <div class="raio-widget" itemscope itemtype="http://schema.org/Person">
    <h3 class="raio-widget-title" itemprop="name">Autor: Elisabet De Marco</h3>                 
    <img src="/images/jotateles-bolt.svg">
    <a itemprop="url" href="
Public Profilehttps://br.linkedin.com/in/elisabetdemarco" title="Linkedin" class="s-margin-right-1"><i class="raicon-linkedin"></i></a>
<!--     <a href="https://www.twitter.com/raiofront" title="meu twitter"><i class="raicon-twitter"></i></a> -->
 </div>         
